baseURL = 'http://example.org/'
languageCode = 'en-us'
title = 'PPK HIMANITRO'
theme = 'hugo-theme-stack'
paginate = 5

[[module.imports]]
path = "github.com/CaiJimmy/hugo-theme-stack/v3"

disqusShortname = "Sobat Ormawa"
DefaultContentLanguage = "en"

[languages.en]
languageName = "English"
title = "PPK HIMANITRO"
description = "PPK HIMANITRO UMSIDA"
weight = 1

[languages.zh-cn]
languageName = "中文"
title = "演示站点"
description = "演示说明"
weight = 2

[languages.ar]
languageName = "عربي"
languagedirection = "rtl"
title = "موقع تجريبي"
description = "وصف تجريبي"
weight = 3

hasCJKLanguage = false

[permalinks]
post = "/p/:slug/"
page = "/:slug/"

[params]
mainSections = [ "post" ]
featuredImageField = "image"
rssFullContent = true
favicon = '/favicon.ico'

[params.footer]
since = 2_023
customText = ''

[params.dateFormat]
published = "Jan 02, 2006"
lastUpdated = "Jan 02, 2006 15:04 MST"

[params.sidebar]
compact = false
emoji = "⚡"
subtitle = "PPK HIMANITRO UMSIDA"

[params.sidebar.avatar]
enabled = true
local = true
src = "img/ppk.png"

[params.article]
math = false
toc = true
readingTime = true

[params.article.license]
enabled = true
default = "PPK HIMANITRO | 2023"

[params.comments]
enabled = true
provider = "disqus"

[params.comments.disqusjs]

[params.comments.utterances]
issueTerm = "pathname"

[params.comments.remark42]

[params.comments.vssue]
autoCreateIssue = false

[params.comments.waline]
emoji = [ "https://unpkg.com/@waline/emojis@1.0.1/weibo" ]
requiredMeta = [ "name", "email", "url" ]

[params.comments.waline.locale]
admin = "Admin"

[params.comments.twikoo]

[params.comments.cactus]
defaultHomeserverUrl = "https://matrix.cactus.chat:8448"
serverName = "cactus.chat"
siteName = ""

[params.comments.giscus]
reactionsEnabled = 1
emitMetadata = 0

[params.comments.gitalk]

[params.comments.cusdis]

[[params.widgets.homepage]]
type = "search"

[[params.widgets.homepage]]
type = "archives"

[params.widgets.homepage.params]
limit = 5

[[params.widgets.homepage]]
type = "categories"

[params.widgets.homepage.params]
limit = 10

[[params.widgets.homepage]]
type = "tag-cloud"

[params.widgets.homepage.params]
limit = 10

[[params.widgets.page]]
type = "toc"

[params.opengraph.twitter]
card = "summary_large_image"

[params.defaultImage.opengraph]
enabled = false
local = false

[params.colorScheme]
toggle = true
default = "auto"

[params.imageProcessing.cover]
enabled = true

[params.imageProcessing.content]
enabled = true

[menu]
main = [ ]

[[menu.social]]
identifier = "instagram"
name = "Instagram"
url = "https://www.instagram.com/ppkhimanitroumsida/"

[menu.social.params]
icon = "brand-instagram"

[[menu.social]]
identifier = "tiktok"
name = "Tiktok"
url = "https://twitter.com"

[menu.social.params]
icon = "brand-tiktok"

[[menu.social]]
identifier = "youtube"
name = "Youtube"
url = "https://twitter.com"

[menu.social.params]
icon = "brand-youtube"

[related]
includeNewer = true
threshold = 60
toLower = false

[[related.indices]]
name = "tags"
weight = 100

[[related.indices]]
name = "categories"
weight = 200

[markup.goldmark.renderer]
unsafe = false

[markup.tableOfContents]
endLevel = 4
ordered = true
startLevel = 2

[markup.highlight]
noClasses = false
codeFences = true
guessSyntax = true
lineNoStart = 1
lineNos = true
lineNumbersInTable = true
tabWidth = 4
